.ProjectSummaryCard{
    grid-template-columns: auto;
    grid-template-rows: 4fr min-content 1fr;
    grid-template-areas: "image"
                         "header"
                         "paragraph";
                         overflow: hidden;
    
    height: 100vh;

}
.ImageContainer{
    grid-area: image;
    padding: 0 !important;
    width: 100%;
    height: 60%;
}
.ImageContainer img{
    width: 100% !important;
    height: 100% !important;
}
.ProjectSummaryCard h2{
    grid-area: header;
}
.ProjectSummaryCard p{
    grid-area: paragraph;
    padding: 0 20% 0 20%;
    
}
.ProjectCard .ImageContainer{
    grid-area: image;
    width: 100% ;
    height: 100%;
    
}
.ImageContainer img{
    vertical-align: top;
    margin-top: 0;
}