.Background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

.Background-Base{
    background-color: var(--base-primarycolor);
color: white;
}
.Background-HighTechPurple{
    background: var(--Purpletech-PurpleOrangeGradientVertical);
color: white;
}
.Background-HighTechRed{
    background: url("../../Backgrounds/HighTechRed-BaseBackGround.svg") #840404;
    background-repeat: repeat;
    background-size: contain;
    background-position: right top;
    color: white;
}
.Background-KissLand{
    background: url("../../Backgrounds/KissLand-Base.svg") #0A0D0A;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    color: white;
}