.DropDownMenu{
    position: absolute;
    width: 15vh;
    border: 1px solid black;
    border-radius: 10%;
    padding: 2%;
    list-style-type: none;
    margin-top: 1%;
    right: 5vw;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 53, 53);

}
.DropDownMenu > li {
    margin: 10px;
    text-align: center;
}