.Navbar-Header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.ExtendedNavbarContainer{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 10;
}
.Navbar-Header > *{
    margin-right: auto;
}
.unstiledLink{
    text-decoration: none;
    color: white;
}

.Navbar-Header-Base{
    background-color: var(--base-primarycolor);
}
.Navbar-Header-HighTechPurple{
    background-color: var(--Purpletech-Primarycolor);
}
.Navbar-Header-HighTechRed{
    background-color: var(--HighTechRed-PrimaryColor);
}
.Navbar-Header-KissLand{
    background-color: #0A0D0A;
}