.ProjectPricingCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ProjectPricingCard{
    border: 1px solid black;
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: center; 
}
.ProjectPricingCard-KissLand{
    background-color: var(--Kissland-primaryColor);
}
.ProjectPricingCard ol li{
    list-style: "*";
    padding-left: 2%;
    text-align: left;
}
.asterisk{
    padding-left: 18%;
    padding-right: 18%;
    font-size: 0.6em;
    text-align: center;
}