.SkillCard{
    border-radius: 1%;
    max-width: 45vh;
    min-height: 60vh;
}
.SkillCard-Base{
    background: var(--base-Primarycolor);
}
.SkillCardIcon-HighTechPurple{
    background: var(--Purpletech-Secondarycolor);
}
.SkillCard-HighTechRed{
    background: #840404;
    color: white;
}
.SkillCard-KissLand{
    background: #0A0D0A;
    color: white;
}

.SkillCardIcon{
    border: 2px solid black;
    width: 20%;
    height: 15%;
    margin-left: 10%;
    margin-top:  10%;
    padding: 5% 0 5% 0;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.SkillCardIcon-Base{
    background: var(--base-info);
}
.SkillCardIcon-HighTechPurple{
    background: var(--Purpletech-Secondarycolor);
}
.SkillCardIcon-HighTechRed{
    background: white;
}
.SkillCardIcon-KissLand{
    background-color: white;
}
.SkillCard h2{
    text-align: left;
    margin-left: 12%;
}
.SkillCardIcon > *{
    width: 40%;
    height: 40%;
}
.SkillCard > p{
    text-align: left;
    margin-left: 10%;
    margin-right: 15%;
}
