.Card{
    aspect-ratio:  5 / 3;
    height: 90%;
    width: 90%;
    vertical-align: middle;
    background-color: white;
}
.CardContainer{
    aspect-ratio:  5 / 3;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.CardContainer-HighTechPurple > * {
    background-color : var(--Purpletech-altpurple)
}

.CardContainer-KissLand{
    background-color: #01FF67;
}
.CardContainer-HighTechRed {
    background-color: #ff0000;
    
}
