.IndividualSkill{
    list-style: none;
    position: relative;
}
.SkillCard{
    margin: 1%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}


.SkillCard > *{
    
    margin-right: 1vw;
}
.SkillCard > div:last-of-type {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);    
}
.SkillCard > div:last-of-type > * {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);    
}
.text{
    position: absolute; 
    right: 100%;
    
    
}